#banner_image {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #f8f8f8;
    background: url(../../img/map.png) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    max-width: 850px;
}

#banner_image2 {
    padding-top: 20px;
    padding-bottom: 50px;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(../../img/loginandreg.png) no-repeat center center;
    background-size: cover;
}

#banner_content2 {
    position: relative;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 6%;
    background-color: rgba(0, 0, 0, 0);
    margin-bottom: 3.5%;
    max-width: 850px;
}

#banner_image3 {
    padding-top: 150px;
    padding-bottom: 240px;
    height: 100%;
    width: 100%;
    text-align: center;
    background: url(../../img/loginandreg.png) no-repeat center center;
    background-size: cover;
}