#banner_image {
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../../img/map.png) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 850px;
}